* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  min-width: 320px;
}

.container {
  max-width: 1072px;
  margin-inline: auto;
  padding-inline: 25px;
}

.header {
  background-color: #1f2937;
  color: #e5e7eb;
}

.footer {
  padding-block: 40px;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  background-color: #1f2937;
  color: #e5e7eb;
}

.hero {
  background-color: #1f2937;
  color: #e5e7eb;
}

.quote {
  background-color: #e5e7eb;
  color: #1f2937;
}
