body {
  font-family: Arial, Helvetica, sans-serif;
}

.para {
  font-size: 22px;
  font-weight: 800;
  color: hsl(0, 0%, 0%);
}
.para.small-para {
  font-size: 14px;
}

.button {
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  border: black solid 1px;
  color: rgb(0, 0, 0);
}
.button.confirm {
  font-weight: bold;
  background-color: green;
  color: white;
}

.text {
  font-size: 22px;
  font-weight: 100;
  color: rgb(0, 0, 0);
}
.text.child {
  font-size: 14px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
